<h1>What happens next?</h1>
	<form action="/documents" method="POST">
		<textarea type="text" name="title" placeholder="Title" required="required"></textarea>
	</br>
		<input type="date" name="story_date" required="required">
	</br>
		<textarea id="contentform" type="test" name="content" placeholder="Markdown is enabled" required="required"></textarea>
	</br>
			<select name="author_id">
				<% authors.each do |author| %>
					<option value="<%= author.id %>"><%= author.name %></option>
				<% end %>
			</select>
		<button>Publish it!</button>
	</form>
