<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title><%= @title %></title>
</head>
<body>
	<header>
		<h1><a href="/">Air Force Deuce Whiteboard</a></h1>
	</header>
	<section>
		<form action="/search" method="GET">
			<input type="text" name="search" placeholder="Search here!">
			<button>Search</button>
		</form>
		<ul>
			<li><a href="/documents/new">Create a new page</a></li>
			<li><a href="/documents/<%= doc.first["id"] %>">Go to the first page</a></li>
			<li><a href="/documents/<%= doc.last["id"] %>">See the most recent page</a></li>
			<li><a href="/authors">Authors</a></li>
			<li><a href="/subscribers">Subscribers</a></li>
		</ul>
	</section>
	<div class="main">
	<%= yield %>
	</div>
</body>
</html>