<h1>Search results for <%= search %>
<div class="line"></div>
<% if results.length < 0 %>
	<p>No results matched your search</p>
<% else %>
	<ul>
		<% results.each do |result| %>
			<li><a href="/documents/<%= result["id"] %>"><%= result["title"] %></a>
			</li>
		<% end %>
	</ul>
<% end %>
