<h1>Become a subscriber here</h1>
	<div class="line"></div>
	<form action="/subscribers" method="POST">
		<input type="text" name="name" placeholder="Name, please" required="required">
		<input type="text" name="email" placeholder="email" required="required">
		<input type="text" name="phone"
			placeholder="phone number">
		<button>Sign up!</button>
	</form>
<div class="line"></div>
<h1>See who else gets updates</h1>
	<ul>
		<% subscribers.each do |subscriber| %>
			<li><a href="/subscribers/<%= subscriber["id"] %>"><%= subscriber["name"] %></a></li>
		<% end %>
	</ul>
