<h1>Become an author here</h1>
<div class="line"></div>
	<form action="/authors" method="POST">
		<input type="text" name="name" placeholder="Name, please">
		<button>Start writing!</button>
	</form>
<div class="line"></div>
<h1>See who else is writing</h1>
	<ul>
		<% authors.each do |author| %>
			<li><a href="/authors/<%= author["id"] %>"><%= author["name"] %></a>
			</li>
		<% end %>
	</ul>
